@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --padding-site: clamp(1rem, 5vw, 3.65rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-josefin);
  --font-body: var(--font-euclid);
  --spacing-site: var(--padding-site);
 
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
